-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: 127.0.0.1    Database: enrollmentsystemfinal
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `academic_terms`
--

DROP TABLE IF EXISTS `academic_terms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `academic_terms` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `academic_year_id` int(11) NOT NULL,
  `semester` enum('1','2','mid') NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 0,
  `enrollment_open` tinyint(1) NOT NULL DEFAULT 0,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `grade_deadline` date DEFAULT NULL,
  `registrar_deadline` date DEFAULT NULL,
  `chair_deadline` date DEFAULT NULL,
  `adviser_deadline` date DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  PRIMARY KEY (`id`),
  KEY `fk_terms_year` (`academic_year_id`),
  CONSTRAINT `fk_terms_year` FOREIGN KEY (`academic_year_id`) REFERENCES `academic_years` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academic_terms`
--

LOCK TABLES `academic_terms` WRITE;
/*!40000 ALTER TABLE `academic_terms` DISABLE KEYS */;
INSERT INTO `academic_terms` VALUES (1,1,'1',0,0,'2025-08-27','2025-12-20',NULL,NULL,NULL,NULL,'2026-05-06 04:49:01','2026-05-06 04:49:01','active'),(2,1,'2',1,1,'2026-01-15','2026-05-30',NULL,NULL,NULL,NULL,'2026-05-06 04:49:01','2026-08-27 18:04:21','active');
/*!40000 ALTER TABLE `academic_terms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `academic_years`
--

DROP TABLE IF EXISTS `academic_years`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `academic_years` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `year_label` varchar(20) NOT NULL,
  `start_year` int(11) NOT NULL,
  `end_year` int(11) NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academic_years`
--

LOCK TABLES `academic_years` WRITE;
/*!40000 ALTER TABLE `academic_years` DISABLE KEYS */;
INSERT INTO `academic_years` VALUES (1,'2025-2026',2025,2026,1,'2026-05-06 04:49:01','active');
/*!40000 ALTER TABLE `academic_years` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `add_drop_requests`
--

DROP TABLE IF EXISTS `add_drop_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `add_drop_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` int(11) NOT NULL,
  `term_id` int(11) NOT NULL DEFAULT 0,
  `action_type` enum('add','drop') NOT NULL DEFAULT 'add',
  `offering_id` int(11) DEFAULT NULL,
  `subject_id` int(11) NOT NULL,
  `section_id` int(11) DEFAULT NULL,
  `curriculum_id` int(11) DEFAULT NULL,
  `units` decimal(4,1) NOT NULL DEFAULT 0.0,
  `workflow_status` enum('submitted','adviser_approved','chair_approved','registrar_approved','rejected','cancelled') NOT NULL DEFAULT 'submitted',
  `adviser_status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `chair_status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `registrar_status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `adviser_remark` text DEFAULT NULL,
  `chair_remark` text DEFAULT NULL,
  `registrar_remark` text DEFAULT NULL,
  `adviser_processed_at` timestamp NULL DEFAULT NULL,
  `chair_processed_at` timestamp NULL DEFAULT NULL,
  `registrar_processed_at` timestamp NULL DEFAULT NULL,
  `adviser_processed_by` int(11) DEFAULT NULL,
  `chair_processed_by` int(11) DEFAULT NULL,
  `registrar_processed_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `request_type` enum('add','drop') NOT NULL,
  `status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `reason` text DEFAULT NULL,
  `requested_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `processed_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_add_drop_student` (`student_id`),
  KEY `fk_add_drop_subject` (`subject_id`),
  CONSTRAINT `fk_add_drop_student` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_add_drop_subject` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`subject_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `add_drop_requests`
--

LOCK TABLES `add_drop_requests` WRITE;
/*!40000 ALTER TABLE `add_drop_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `add_drop_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `class_schedules`
--

DROP TABLE IF EXISTS `class_schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `class_schedules` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `schedule_code_id` int(11) NOT NULL,
  `subject_id` int(11) DEFAULT NULL,
  `section_id` int(11) DEFAULT NULL,
  `term_id` int(11) DEFAULT NULL,
  `schedule_code` varchar(20) DEFAULT NULL,
  `status` enum('draft','submitted','approved','rejected','cancelled') NOT NULL DEFAULT 'draft',
  `created_by` int(11) DEFAULT NULL,
  `submitted_at` timestamp NULL DEFAULT NULL,
  `approved_by` int(11) DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `rejection_reason` text DEFAULT NULL,
  `day` varchar(20) DEFAULT NULL,
  `start_time` time DEFAULT NULL,
  `end_time` time DEFAULT NULL,
  `time_range` varchar(60) DEFAULT NULL,
  `room` varchar(100) DEFAULT NULL,
  `instructor_id` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_cs_schedule_code` (`schedule_code`),
  KEY `fk_cs_instructor` (`instructor_id`),
  KEY `idx_cs_schedule_code` (`schedule_code_id`),
  KEY `idx_cs_subject_id` (`subject_id`),
  KEY `idx_cs_section_id` (`section_id`),
  KEY `idx_cs_term_id` (`term_id`),
  KEY `idx_cs_status` (`status`),
  CONSTRAINT `fk_cs_instructor` FOREIGN KEY (`instructor_id`) REFERENCES `staff` (`staff_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `class_schedules`
--

LOCK TABLES `class_schedules` WRITE;
/*!40000 ALTER TABLE `class_schedules` DISABLE KEYS */;
/*!40000 ALTER TABLE `class_schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `departments` (
  `dept_id` int(11) NOT NULL AUTO_INCREMENT,
  `department_code` varchar(20) NOT NULL,
  `department_name` varchar(100) NOT NULL,
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`dept_id`),
  UNIQUE KEY `department_code` (`department_code`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
INSERT INTO `departments` VALUES (1,'ASD','Arts and Scicene Department','active','2026-05-06 04:49:01'),(2,'ITD','Information Technology Department','active','2026-05-06 04:49:01'),(3,'TED','Teacher Education Department','active','2026-05-06 04:49:01'),(4,'MD','Management Department','active','2026-05-06 04:49:01'),(7,'FASD','Fisheries and Aquatic Science Department','active','2026-05-20 11:56:11');
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `enrollment_audit_log`
--

DROP TABLE IF EXISTS `enrollment_audit_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `enrollment_audit_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `request_id` int(11) NOT NULL,
  `action` varchar(50) NOT NULL,
  `actor_id` int(11) NOT NULL,
  `actor_role` varchar(50) NOT NULL,
  `old_status` varchar(50) DEFAULT NULL,
  `new_status` varchar(50) DEFAULT NULL,
  `remark` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_audit_request` (`request_id`),
  CONSTRAINT `fk_audit_request` FOREIGN KEY (`request_id`) REFERENCES `enrollment_requests` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `enrollment_audit_log`
--

LOCK TABLES `enrollment_audit_log` WRITE;
/*!40000 ALTER TABLE `enrollment_audit_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `enrollment_audit_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `enrollment_request_items`
--

DROP TABLE IF EXISTS `enrollment_request_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `enrollment_request_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `request_id` int(11) NOT NULL,
  `offering_id` int(11) NOT NULL,
  `schedule_id` int(11) DEFAULT NULL,
  `action_type` enum('add','drop') NOT NULL DEFAULT 'add',
  PRIMARY KEY (`id`),
  KEY `fk_request_items_request` (`request_id`),
  KEY `fk_request_items_offering` (`offering_id`),
  KEY `idx_eri_schedule_id` (`schedule_id`),
  CONSTRAINT `fk_request_items_offering` FOREIGN KEY (`offering_id`) REFERENCES `section_subject_offerings` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_request_items_request` FOREIGN KEY (`request_id`) REFERENCES `enrollment_requests` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=77 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `enrollment_request_items`
--

LOCK TABLES `enrollment_request_items` WRITE;
/*!40000 ALTER TABLE `enrollment_request_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `enrollment_request_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `enrollment_requests`
--

DROP TABLE IF EXISTS `enrollment_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `enrollment_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` int(11) NOT NULL,
  `term_id` int(11) NOT NULL,
  `requested_section_id` int(11) NOT NULL,
  `requested_status` enum('regular','irregular') NOT NULL,
  `workflow_status` enum('draft','submitted','adviser_approved','chair_approved','registrar_forwarded','cashier_approved','registrar_approved','rejected','cancelled') NOT NULL DEFAULT 'draft',
  `adviser_status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `chair_status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `registrar_status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `adviser_remark` text DEFAULT NULL,
  `chair_remark` text DEFAULT NULL,
  `registrar_remark` text DEFAULT NULL,
  `registrar_section_id` int(11) DEFAULT NULL,
  `ra10931_status` enum('free','extension_tuition','tuition') NOT NULL DEFAULT 'free',
  `payment_status` enum('unpaid','partial','paid','waived') NOT NULL DEFAULT 'unpaid',
  `total_units` decimal(6,2) NOT NULL DEFAULT 0.00,
  `total_amount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `adviser_processed_at` timestamp NULL DEFAULT NULL,
  `chair_processed_at` timestamp NULL DEFAULT NULL,
  `registrar_processed_at` timestamp NULL DEFAULT NULL,
  `adviser_processed_by` int(11) DEFAULT NULL,
  `chair_processed_by` int(11) DEFAULT NULL,
  `registrar_processed_by` int(11) DEFAULT NULL,
  `cashier_processed_at` timestamp NULL DEFAULT NULL,
  `cashier_processed_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_request_student` (`student_id`),
  KEY `fk_request_term` (`term_id`),
  KEY `fk_request_section` (`requested_section_id`),
  KEY `fk_request_registrar_section` (`registrar_section_id`),
  CONSTRAINT `fk_request_registrar_section` FOREIGN KEY (`registrar_section_id`) REFERENCES `sections` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_request_section` FOREIGN KEY (`requested_section_id`) REFERENCES `sections` (`id`),
  CONSTRAINT `fk_request_student` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_request_term` FOREIGN KEY (`term_id`) REFERENCES `academic_terms` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `enrollment_requests`
--

LOCK TABLES `enrollment_requests` WRITE;
/*!40000 ALTER TABLE `enrollment_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `enrollment_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `enrollment_schedules`
--

DROP TABLE IF EXISTS `enrollment_schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `enrollment_schedules` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `term_id` int(11) NOT NULL,
  `year_level` int(11) NOT NULL,
  `open_date` date NOT NULL,
  `close_date` date NOT NULL,
  `open_time` time NOT NULL,
  `close_time` time NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_schedule` (`term_id`,`year_level`),
  CONSTRAINT `fk_schedule_term` FOREIGN KEY (`term_id`) REFERENCES `academic_terms` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `enrollment_schedules`
--

LOCK TABLES `enrollment_schedules` WRITE;
/*!40000 ALTER TABLE `enrollment_schedules` DISABLE KEYS */;
INSERT INTO `enrollment_schedules` VALUES (1,2,1,'2026-05-28','2026-06-04','07:00:00','19:00:00','2026-05-07 05:00:34','2026-05-28 07:44:16');
/*!40000 ALTER TABLE `enrollment_schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fee_items`
--

DROP TABLE IF EXISTS `fee_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fee_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `category` enum('laboratory','other','assessment') NOT NULL,
  `fee_name` varchar(255) NOT NULL,
  `amount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `program_id` int(11) DEFAULT NULL,
  `year_level` int(11) DEFAULT NULL,
  `semester` varchar(20) DEFAULT NULL,
  `is_mandatory` tinyint(1) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_fee_program` (`program_id`),
  CONSTRAINT `fk_fee_program` FOREIGN KEY (`program_id`) REFERENCES `programs` (`programs_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fee_items`
--

LOCK TABLES `fee_items` WRITE;
/*!40000 ALTER TABLE `fee_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `fee_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grades`
--

DROP TABLE IF EXISTS `grades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `grades` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` int(11) NOT NULL,
  `curriculum_id` int(11) NOT NULL,
  `offering_id` int(11) NOT NULL,
  `grade` varchar(10) DEFAULT NULL,
  `instructor_id` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_grades_student` (`student_id`),
  KEY `fk_grades_curriculum` (`curriculum_id`),
  KEY `fk_grades_offering` (`offering_id`),
  KEY `fk_grades_instructor` (`instructor_id`),
  CONSTRAINT `fk_grades_curriculum` FOREIGN KEY (`curriculum_id`) REFERENCES `program_curriculum` (`curriculum_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_grades_instructor` FOREIGN KEY (`instructor_id`) REFERENCES `staff` (`staff_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_grades_offering` FOREIGN KEY (`offering_id`) REFERENCES `section_subject_offerings` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_grades_student` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grades`
--

LOCK TABLES `grades` WRITE;
/*!40000 ALTER TABLE `grades` DISABLE KEYS */;
/*!40000 ALTER TABLE `grades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `token` varchar(64) NOT NULL,
  `expires_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `used` tinyint(1) NOT NULL DEFAULT 0,
  `used_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
INSERT INTO `password_reset_tokens` VALUES (1,12,'d5ef331c1382e462add2fb3bf2e3347804971abf4742d6db21cec3de7561b4f7','2026-05-15 06:42:08',0,NULL,'2026-05-15 11:42:08'),(2,12,'2029e4ab344d66a7635b409c4531cb042e29bab201dd33199e8eacf9acf777dd','2026-05-15 06:42:20',0,NULL,'2026-05-15 11:42:20'),(3,12,'8bd3d62ca4afadd2c657a510d1312fcfa9870a87e224733b83e6868cbf5dd875','2026-05-15 06:43:20',0,NULL,'2026-05-15 11:43:20'),(4,12,'0e362b917becb60a049d4dad26c82dd60df0f0d06fdc169819987ff451d45733','2026-05-15 06:43:35',0,NULL,'2026-05-15 11:43:35');
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` int(11) NOT NULL,
  `request_id` int(11) DEFAULT NULL,
  `amount` decimal(10,2) NOT NULL,
  `payment_date` timestamp NOT NULL DEFAULT current_timestamp(),
  `payment_method` varchar(50) DEFAULT NULL,
  `reference_number` varchar(100) DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_payments_student` (`student_id`),
  CONSTRAINT `fk_payments_student` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `program_curriculum`
--

DROP TABLE IF EXISTS `program_curriculum`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `program_curriculum` (
  `curriculum_id` int(11) NOT NULL AUTO_INCREMENT,
  `program_id` int(11) NOT NULL,
  `subject_id` int(11) NOT NULL,
  `year_level` varchar(20) NOT NULL,
  `semester` enum('1st','2nd','mid') NOT NULL,
  `prerequisite_subject_id` int(11) DEFAULT NULL,
  `prerequisite_subject_2_id` int(11) DEFAULT NULL,
  `prerequisite_subject_3_id` int(11) DEFAULT NULL,
  `standing` varchar(50) DEFAULT NULL,
  `curriculum_label` varchar(40) NOT NULL DEFAULT '2024',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  PRIMARY KEY (`curriculum_id`),
  KEY `fk_curriculum_program` (`program_id`),
  KEY `fk_curriculum_subject` (`subject_id`),
  KEY `fk_curriculum_prereq` (`prerequisite_subject_id`),
  CONSTRAINT `fk_curriculum_prereq` FOREIGN KEY (`prerequisite_subject_id`) REFERENCES `subjects` (`subject_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_curriculum_program` FOREIGN KEY (`program_id`) REFERENCES `programs` (`programs_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_curriculum_subject` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`subject_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `program_curriculum`
--

LOCK TABLES `program_curriculum` WRITE;
/*!40000 ALTER TABLE `program_curriculum` DISABLE KEYS */;
/*!40000 ALTER TABLE `program_curriculum` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `programs`
--

DROP TABLE IF EXISTS `programs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `programs` (
  `programs_id` int(11) NOT NULL AUTO_INCREMENT,
  `department_id` int(11) NOT NULL,
  `program_code` varchar(20) NOT NULL,
  `program_name` varchar(120) NOT NULL,
  `program_major` varchar(255) DEFAULT NULL,
  `lab_fee_per_unit` decimal(10,2) NOT NULL DEFAULT 0.00,
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`programs_id`),
  UNIQUE KEY `program_code` (`program_code`),
  KEY `fk_program_department` (`department_id`),
  CONSTRAINT `fk_program_department` FOREIGN KEY (`department_id`) REFERENCES `departments` (`dept_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `programs`
--

LOCK TABLES `programs` WRITE;
/*!40000 ALTER TABLE `programs` DISABLE KEYS */;
/*!40000 ALTER TABLE `programs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `roles_id` int(11) NOT NULL AUTO_INCREMENT,
  `role_name` varchar(100) NOT NULL,
  PRIMARY KEY (`roles_id`),
  UNIQUE KEY `role_name` (`role_name`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (5,'admin'),(6,'adviser'),(4,'cashier'),(7,'department_chair'),(2,'instructor'),(3,'registrar'),(1,'student');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_change_requests`
--

DROP TABLE IF EXISTS `schedule_change_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `schedule_change_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `schedule_id` int(11) NOT NULL,
  `field_changed` varchar(50) NOT NULL,
  `old_value` varchar(255) DEFAULT NULL,
  `new_value` varchar(255) DEFAULT NULL,
  `reason` text NOT NULL,
  `requested_by` int(11) NOT NULL,
  `requested_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `reviewed_by` int(11) DEFAULT NULL,
  `reviewed_at` timestamp NULL DEFAULT NULL,
  `status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `review_remark` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_scr_schedule` (`schedule_id`),
  KEY `fk_scr_requester` (`requested_by`),
  KEY `fk_scr_reviewer` (`reviewed_by`),
  CONSTRAINT `fk_scr_requester` FOREIGN KEY (`requested_by`) REFERENCES `staff` (`staff_id`),
  CONSTRAINT `fk_scr_reviewer` FOREIGN KEY (`reviewed_by`) REFERENCES `staff` (`staff_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_scr_schedule` FOREIGN KEY (`schedule_id`) REFERENCES `class_schedules` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule_change_requests`
--

LOCK TABLES `schedule_change_requests` WRITE;
/*!40000 ALTER TABLE `schedule_change_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `schedule_change_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_codes`
--

DROP TABLE IF EXISTS `schedule_codes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `schedule_codes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `sched_code` varchar(20) NOT NULL,
  `offering_id` int(11) NOT NULL,
  `term_id` int(11) NOT NULL,
  `program_id` int(11) NOT NULL,
  `section_id` int(11) NOT NULL,
  `curriculum_id` int(11) NOT NULL,
  `subject_id` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `sched_code` (`sched_code`),
  KEY `fk_sc_offering` (`offering_id`),
  KEY `fk_sc_program` (`program_id`),
  KEY `fk_sc_section` (`section_id`),
  KEY `fk_sc_curriculum` (`curriculum_id`),
  KEY `fk_sc_subject` (`subject_id`),
  KEY `idx_sched_code` (`sched_code`),
  KEY `idx_term_program` (`term_id`,`program_id`),
  CONSTRAINT `fk_sc_curriculum` FOREIGN KEY (`curriculum_id`) REFERENCES `program_curriculum` (`curriculum_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_sc_offering` FOREIGN KEY (`offering_id`) REFERENCES `section_subject_offerings` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_sc_program` FOREIGN KEY (`program_id`) REFERENCES `programs` (`programs_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_sc_section` FOREIGN KEY (`section_id`) REFERENCES `sections` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_sc_subject` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`subject_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_sc_term` FOREIGN KEY (`term_id`) REFERENCES `academic_terms` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule_codes`
--

LOCK TABLES `schedule_codes` WRITE;
/*!40000 ALTER TABLE `schedule_codes` DISABLE KEYS */;
/*!40000 ALTER TABLE `schedule_codes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `section_subject_offerings`
--

DROP TABLE IF EXISTS `section_subject_offerings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `section_subject_offerings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `term_id` int(11) NOT NULL,
  `section_id` int(11) NOT NULL,
  `curriculum_id` int(11) NOT NULL,
  `subject_id` int(11) NOT NULL,
  `instructor_id` int(11) DEFAULT NULL,
  `room` varchar(50) DEFAULT NULL,
  `day_of_week` varchar(30) DEFAULT NULL,
  `time_range` varchar(60) DEFAULT NULL,
  `max_slots` int(11) DEFAULT NULL,
  `sched_code` varchar(50) DEFAULT NULL,
  `syllabus_path` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  PRIMARY KEY (`id`),
  KEY `fk_offering_term` (`term_id`),
  KEY `fk_offering_section` (`section_id`),
  KEY `fk_offering_curriculum` (`curriculum_id`),
  KEY `fk_offering_subject` (`subject_id`),
  KEY `fk_offering_instructor` (`instructor_id`),
  CONSTRAINT `fk_offering_curriculum` FOREIGN KEY (`curriculum_id`) REFERENCES `program_curriculum` (`curriculum_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_offering_instructor` FOREIGN KEY (`instructor_id`) REFERENCES `staff` (`staff_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_offering_section` FOREIGN KEY (`section_id`) REFERENCES `sections` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_offering_subject` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`subject_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_offering_term` FOREIGN KEY (`term_id`) REFERENCES `academic_terms` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `section_subject_offerings`
--

LOCK TABLES `section_subject_offerings` WRITE;
/*!40000 ALTER TABLE `section_subject_offerings` DISABLE KEYS */;
/*!40000 ALTER TABLE `section_subject_offerings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sections`
--

DROP TABLE IF EXISTS `sections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sections` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `program_id` int(11) NOT NULL,
  `year_level` int(11) NOT NULL,
  `section_name` varchar(10) NOT NULL,
  `adviser_id` int(11) DEFAULT NULL,
  `max_slots` int(11) DEFAULT NULL,
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_section` (`program_id`,`year_level`,`section_name`),
  KEY `fk_section_adviser` (`adviser_id`),
  CONSTRAINT `fk_section_adviser` FOREIGN KEY (`adviser_id`) REFERENCES `staff` (`staff_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_section_program` FOREIGN KEY (`program_id`) REFERENCES `programs` (`programs_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sections`
--

LOCK TABLES `sections` WRITE;
/*!40000 ALTER TABLE `sections` DISABLE KEYS */;
INSERT INTO `sections` VALUES (1,1,1,'A',4,40,'active','2026-05-06 04:49:01'),(2,1,1,'B',4,40,'active','2026-05-06 04:49:01'),(3,1,2,'A',4,35,'active','2026-05-06 04:49:01'),(4,2,1,'A',NULL,40,'active','2026-05-06 04:49:01'),(5,1,3,'A',NULL,50,'active','2026-05-07 05:09:31');
/*!40000 ALTER TABLE `sections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) NOT NULL,
  `setting_value` text NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `setting_key` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff`
--

DROP TABLE IF EXISTS `staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `staff` (
  `staff_id` int(11) NOT NULL AUTO_INCREMENT,
  `users_id` int(11) NOT NULL,
  `employee_number` varchar(30) NOT NULL,
  `full_name` varchar(120) NOT NULL,
  `email` varchar(150) NOT NULL,
  `dept_id` int(11) DEFAULT NULL,
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`staff_id`),
  UNIQUE KEY `employee_number` (`employee_number`),
  KEY `fk_staff_user` (`users_id`),
  KEY `fk_staff_department` (`dept_id`),
  CONSTRAINT `fk_staff_department` FOREIGN KEY (`dept_id`) REFERENCES `departments` (`dept_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_staff_user` FOREIGN KEY (`users_id`) REFERENCES `users` (`users_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff`
--

LOCK TABLES `staff` WRITE;
/*!40000 ALTER TABLE `staff` DISABLE KEYS */;
/*!40000 ALTER TABLE `staff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff_notifications`
--

DROP TABLE IF EXISTS `staff_notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `staff_notifications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `staff_id` int(11) NOT NULL,
  `type` varchar(50) NOT NULL DEFAULT 'info',
  `subject` varchar(255) NOT NULL,
  `body` text NOT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `dismissed` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_staff_notif` (`staff_id`),
  CONSTRAINT `fk_staff_notif` FOREIGN KEY (`staff_id`) REFERENCES `staff` (`staff_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff_notifications`
--

LOCK TABLES `staff_notifications` WRITE;
/*!40000 ALTER TABLE `staff_notifications` DISABLE KEYS */;
INSERT INTO `staff_notifications` VALUES (1,7,'info','Enrollment Request Pending Fee Approval','An enrollment request has been forwarded by the Registrar for fee processing.',0,0,'2026-05-28 07:52:45'),(2,2,'info','Enrollment Ready for Finalization','An enrollment request has been approved by the Cashier and is ready for registrar finalization.',0,0,'2026-05-28 07:53:33'),(3,7,'info','New Student Enrolled ΓÇö Payment Processing Required','A student has been finalized by the registrar and may require payment processing. Please check the cashier dashboard.',0,0,'2026-05-28 07:54:03');
/*!40000 ALTER TABLE `staff_notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_notifications`
--

DROP TABLE IF EXISTS `student_notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_notifications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` int(11) NOT NULL,
  `type` varchar(50) NOT NULL DEFAULT 'info',
  `subject` varchar(255) NOT NULL,
  `body` text NOT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `dismissed` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_notif_student` (`student_id`),
  CONSTRAINT `fk_notif_student` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_notifications`
--

LOCK TABLES `student_notifications` WRITE;
/*!40000 ALTER TABLE `student_notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_subjects`
--

DROP TABLE IF EXISTS `student_subjects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_subjects` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` int(11) NOT NULL,
  `term_id` int(11) NOT NULL,
  `offering_id` int(11) NOT NULL,
  `curriculum_id` int(11) NOT NULL,
  `subject_id` int(11) NOT NULL,
  `schedule_code_id` int(11) DEFAULT NULL,
  `schedule_id` int(11) DEFAULT NULL,
  `section_id` int(11) NOT NULL,
  `units` decimal(4,1) NOT NULL,
  `enrollment_status` enum('enrolled','completed','dropped') NOT NULL DEFAULT 'enrolled',
  `final_grade` varchar(10) DEFAULT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_student_subjects_student` (`student_id`),
  KEY `fk_student_subjects_term` (`term_id`),
  KEY `fk_student_subjects_offering` (`offering_id`),
  KEY `fk_student_subjects_curriculum` (`curriculum_id`),
  KEY `fk_student_subjects_subject` (`subject_id`),
  KEY `fk_student_subjects_section` (`section_id`),
  KEY `idx_ss_sched_code` (`schedule_code_id`),
  KEY `idx_ss_new_schedule_id` (`schedule_id`),
  CONSTRAINT `fk_student_subjects_curriculum` FOREIGN KEY (`curriculum_id`) REFERENCES `program_curriculum` (`curriculum_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_student_subjects_offering` FOREIGN KEY (`offering_id`) REFERENCES `section_subject_offerings` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_student_subjects_section` FOREIGN KEY (`section_id`) REFERENCES `sections` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_student_subjects_student` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_student_subjects_subject` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`subject_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_student_subjects_term` FOREIGN KEY (`term_id`) REFERENCES `academic_terms` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=81 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_subjects`
--

LOCK TABLES `student_subjects` WRITE;
/*!40000 ALTER TABLE `student_subjects` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `students` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `student_number` varchar(20) NOT NULL,
  `first_name` varchar(100) DEFAULT NULL,
  `middle_name` varchar(100) DEFAULT NULL,
  `last_name` varchar(100) DEFAULT NULL,
  `sex` enum('Male','Female') DEFAULT NULL,
  `birth_date` date DEFAULT NULL,
  `age` int(11) DEFAULT NULL,
  `address` varchar(255) NOT NULL,
  `contact_number` varchar(20) DEFAULT NULL,
  `email_address` varchar(150) DEFAULT NULL,
  `program_id` int(11) NOT NULL,
  `year_level` int(11) NOT NULL DEFAULT 1,
  `section_id` int(11) DEFAULT NULL,
  `entry_year` int(11) NOT NULL,
  `classification` enum('New','Continuing','Transferee','Shiftee','Returnee') DEFAULT NULL,
  `status` enum('Regular','Irregular') DEFAULT NULL,
  `ra10931_override` enum('auto','free','extension_tuition','tuition') NOT NULL DEFAULT 'auto',
  `record_status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `student_number` (`student_number`),
  KEY `idx_student_program` (`program_id`),
  KEY `idx_student_section` (`section_id`),
  CONSTRAINT `fk_students_program` FOREIGN KEY (`program_id`) REFERENCES `programs` (`programs_id`),
  CONSTRAINT `fk_students_section` FOREIGN KEY (`section_id`) REFERENCES `sections` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subjects`
--

DROP TABLE IF EXISTS `subjects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subjects` (
  `subject_id` int(11) NOT NULL AUTO_INCREMENT,
  `subject_code` varchar(20) NOT NULL,
  `subject_description` varchar(150) NOT NULL,
  `lab_hours` decimal(4,1) NOT NULL DEFAULT 0.0,
  `lec_hours` decimal(4,1) NOT NULL DEFAULT 0.0,
  `lab_credit` decimal(4,1) NOT NULL DEFAULT 0.0,
  `lec_credit` decimal(4,1) NOT NULL DEFAULT 0.0,
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`subject_id`),
  UNIQUE KEY `subject_code` (`subject_code`)
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subjects`
--

LOCK TABLES `subjects` WRITE;
/*!40000 ALTER TABLE `subjects` DISABLE KEYS */;
/*!40000 ALTER TABLE `subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_roles`
--

DROP TABLE IF EXISTS `user_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_roles` (
  `user_id` int(11) NOT NULL,
  `role_id` int(11) NOT NULL,
  PRIMARY KEY (`user_id`,`role_id`),
  KEY `fk_user_roles_role` (`role_id`),
  CONSTRAINT `fk_user_roles_role` FOREIGN KEY (`role_id`) REFERENCES `roles` (`roles_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_user_roles_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`users_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_roles`
--

LOCK TABLES `user_roles` WRITE;
/*!40000 ALTER TABLE `user_roles` DISABLE KEYS */;
INSERT INTO `user_roles` VALUES (1,5),(2,3),(3,7),(4,6),(5,2),(6,2),(7,4),(8,1),(9,1),(12,1),(13,1);
/*!40000 ALTER TABLE `user_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `users_id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `display_name` varchar(255) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `verification_token` varchar(255) DEFAULT NULL,
  `verified_at` timestamp NULL DEFAULT NULL,
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `student_id` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`users_id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`),
  KEY `fk_users_student` (`student_id`),
  CONSTRAINT `fk_users_student` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `vw_student_grades`
--

DROP TABLE IF EXISTS `vw_student_grades`;
mysqldump.exe : mysqldump.exe: Couldn't execute 'SHOW FIELDS FROM `vw_student_grades`': View 
'enrollmentsystemfinal.vw_student_grades' references invalid table(s) or column(s) or function(s) or definer/invoker 
of view lack rights to use them (1356)
At line:1 char:1
+ & "C:\xampp\mysql\bin\mysqldump.exe" -u root -h 127.0.0.1 --single-tr ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysqldump.exe: ...use them (1356):String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
